body {
	background-color: #d5d5d5;
	background-size: 20px 20px;
	font-family: arial;
	padding: 30px;
	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #22BBFF;
	text-decoration: none;
}

.wrapper {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

.top {
	color: #FFFFFF;
	font-size: 50px;
	text-align: center;
}

.menu {
	font-size: 25px;
	clear: both;
}

.menu li {
	list-style-type: none;
	float: left;
	margin-right: 50px;
}

.box {
	clear: both;
	padding-top: 50px;
}

.content {
	background-color: #FFF;
	padding: 10px;
	margin-top: 20px;
}

.textdiv {
	width: 600px;
	float: left;
}

.sidebar {
	margin-left: 610px;
}

.footer {
	clear: both;
	padding-top: 30px;
}

.article {
	margin-bottom: 40px;
}

